[submodule "part-3/phonebook"]
	path = part-3/phonebook
	url = git@github.com:Jon1VK/full-stack-open-phonebook-app.git
[submodule "part-4/bloglist"]
	path = part-4/bloglist
	url = git@github.com:Jon1VK/full-stack-open-bloglist-app.git
[submodule "part-5/bloglist"]
	path = part-5/bloglist
	url = git@github.com:Jon1VK/full-stack-open-bloglist-app.git
